<div class="card">
    <div class="card-header">
        <i class="fa fa-sign-in" aria-hidden="true"></i> Login
    </div>

    <div class="card-block">
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-group row">
                <label for="username" class="col-sm-2 col-form-label">username</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="username" id="username" [formControl]="username">
                </div>

                <div class="col-sm-10" [hidden]="username.valid || username.untouched">
                    <span> Invalid username: </span>
                    <span [hidden]="!username.hasError('minlength')">Username can not be shorter than 5 characters.</span>
                    <span [hidden]="!username.hasError('required')">Username is required.</span>
                </div>
            </div>

            <div class="form-group row">
                <label for="password" class="col-sm-2 col-form-label">password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" name="password" id="password" [formControl]="password">
                </div>
                <div class="col-sm-10" [hidden]="password.valid || password.untouched">
                    <span>Invalid password:</span> <span [hidden]="!password.hasError('required')">The password is required.</span>
                </div>

            </div>
            <div class="form-group row">
                <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Log In</button>

            </div>
        </form>
    </div>
</div>