<nav class="navbar navbar-toggleable-md navbar-light bg-primary text-white">
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
  </button>
	<a class="navbar-brand text-white pull-left" href="#">Student </a>
	<!--<span (click)="toggleMenu()"> <i class="fa fa-bars" aria-hidden="true"></i> </span>-->
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
		</ul>
		<app-title [subtitle]="subtitle"></app-title>

	</div>

</nav>
<div class="container-fluid">
	<div class="row">

		<side-bar></side-bar>
		<div class="col pt-3">
			<router-outlet></router-outlet>
		</div>
	</div>
</div>