<div class="card">
    <div class="card-block">
        Students List
    </div>
    <div class="card-block p-0">

        <table class="table table-collapsed" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
            <thead>
                <tr>
                    <td class="text-center"> <i class="fa fa-address-book-o" aria-hidden="true"></i>
                        <mfDefaultSorter by="id"> Id</mfDefaultSorter>
                    </td>
                    <td class="text-center"> <i class="fa fa-instagram" aria-hidden="true"></i>
                        <mfDefaultSorter by="name"> Name</mfDefaultSorter>
                    </td>
                    <td class="text-center"> <i class="fa fa-steam" aria-hidden="true"></i>
                        <mfDefaultSorter by="std"> Standard</mfDefaultSorter>
                    </td>
                    <td class="text-center"> <i class="fa fa-adn" aria-hidden="true"></i>
                        <mfDefaultSorter by="div"> Div</mfDefaultSorter>
                    </td>
                    <td class="text-center"> <i class="fa fa-adn" aria-hidden="true"></i>
                        <mfDefaultSorter> Detail View</mfDefaultSorter>
                    </td>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of mf.data ">
                    <td class="text-center">{{item.id}} </td>

                    <td class="text-center">{{item.name}}</td>
                    <td class="text-center">{{item.std}}</td>
                    <td class="text-center">{{item.div | uppercase}}</td>
                    <td class="text-center">
                        <a routerLink="{{item.id}}"> <i class="fa fa-vcard-o" aria-hidden="true"></i> </a>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">
                        <mfBootstrapPaginator></mfBootstrapPaginator>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>