<div class="card">
    <div class="card-header">
        Students List
    </div>

    <div class="card-block">
        <div class="card-deck ">
            <div class="card" *ngIf="student">
                <div class="card-header">
                    <small> <i class="fa fa-stumbleupon" aria-hidden="true"></i> Information </small>
                    <a class="pull-right" routerLink="../"><i class="fa fa-th-list" aria-hidden="true"></i></a>
                </div>
                <div class="card-block">
                    <div class="form-group row">
                        <label class="col-12 col-form-label">Id</label>
                        <div class="col-12">
                            <input class="form-control" [(ngModel)]="student.id">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-12 col-form-label">Name</label>
                        <div class="col-12">
                            <input class="form-control" [(ngModel)]="student.name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-12 col-form-label">Standard</label>
                        <div class="col-12">
                            <input class="form-control" [(ngModel)]="student.std">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-12 col-form-label">Dovosion</label>
                        <div class="col-12">
                            <input class="form-control" [(ngModel)]="student.div">
                        </div>
                    </div>
                </div>
            </div>

            <div class="card" *ngIf="student">
                <div class="card-header">
                    <small> <i class="fa fa-stumbleupon" aria-hidden="true"></i> Family  </small>
                    <a class="pull-right" routerLink="../"><i class="fa fa-th-list" aria-hidden="true"></i></a>
                </div>
                <div class="card-block">
                    <div class="form-group row">
                        <label class="col-12 col-form-label">Id</label>
                        <div class="col-12">
                            <input class="form-control" [(ngModel)]="student.id">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-12 col-form-label">Name</label>
                        <div class="col-12">
                            <input class="form-control" [(ngModel)]="student.name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-12 col-form-label">Standard</label>
                        <div class="col-12">
                            <input class="form-control" [(ngModel)]="student.std">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-12 col-form-label">Dovosion</label>
                        <div class="col-12">
                            <input class="form-control" [(ngModel)]="student.div">
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" *ngIf="student">
                <div class="card-header">
                    <small> <i class="fa fa-stumbleupon" aria-hidden="true"></i> Contacts  </small>
                    <a class="pull-right" routerLink="../"><i class="fa fa-th-list" aria-hidden="true"></i></a>
                </div>
                <div class="card-block">
                    <div class="form-group row">
                        <label class="col-12 col-form-label">Id</label>
                        <div class="col-12">
                            <input class="form-control" [(ngModel)]="student.id">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-12 col-form-label">Name</label>
                        <div class="col-12">
                            <input class="form-control" [(ngModel)]="student.name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-12 col-form-label">Standard</label>
                        <div class="col-12">
                            <input class="form-control" [(ngModel)]="student.std">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-12 col-form-label">Dovosion</label>
                        <div class="col-12">
                            <input class="form-control" [(ngModel)]="student.div">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>