<div class="card-deck">
    <div class="card">
        <div class="card-block flex-row">
            <div class="col">
                <h4 class="card-title"> <i class="fa fa-child" aria-hidden="true"></i>
                    <a class="pull-right" routerLink="../students"><i class="fa fa-adn" aria-hidden="true"></i> Students</a>
                </h4>
            </div>
            <div class="col">
                <p class="card-text"> 2323 </p>
            </div>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card ml-md-0">
        <div class="card-block">
            <h4 class="card-title"> <i class="fa fa-superpowers" aria-hidden="true"></i>
                <a class="pull-right" routerLink="../crisis"><i class="fa fa-th-list" aria-hidden="true"></i>
                        Result </a>
            </h4>
            <p class="card-text">54%</p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card ml-md-0">
        <div class="card-block">
            <small class="card-title"> <i class="fa fa-child" aria-hidden="true"></i>
                <a class="pull-right" routerLink="../contact"><i class="fa fa-adn" aria-hidden="true"></i>
                        Teachers </a>
            </small>
            <p class="card-text"> 100 </p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
</div>

<div class="card-deck">
    <div class="card mt-3">
        <div class="card-block">
            <small class="card-title"> <i class="fa fa-amazon" aria-hidden="true"></i> Students</small>
            <p class="card-text"> 2323 </p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
</div>

<div class="card-deck ">
    <div class="card mt-3">
        <div class="card-block">
            <h4 class="card-title"> <i class="fa fa-amazon" aria-hidden="true"></i> Students</h4>
            <p class="card-text"> 2323 </p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
    <div class="card  ml-md-0 mt-3">
        <div class="card-block">
            <h4 class="card-title"> <i class="fa fa-amazon" aria-hidden="true"></i>
                <a class="pull-right" routerLink="../contact">
                    <i class="fa fa-th-list" aria-hidden="true"></i> Result </a>
            </h4>
            <p class="card-text"> 2323 </p>
        </div>
        <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
        </div>
    </div>
</div>